.box--cart {
    background: $blue2;
    .minicart-toggle {
        outline: none;
        text-decoration: none;
        svg {
            display: block;
            stroke: $white;
        }
        &:hover {
            text-decoration: none;
        }
    }
    .cart-count {
        margin-left: 5px;
        font-size: 16px;
        color: $white;
    }
}
.minicart-wrapper {
    margin: 0;
    float: none;
    .block-minicart {
        width: 400px!important;
        max-width: 94vw;
    }
}
