.footer-bottom {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid $border;
    .copyright {
        p {
            font-size: 16px;
            color: $white;
            margin: 0;
        }
        @include breakpoint($mobile){
            span {
                display:none;
            }
        }
    }
    .social {
        .social-links {
            ul {
                display: flex;
                list-style: none;
                li {
                    margin: 0 5px;
                    a {
                        svg {
                            width: 16px;
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
    @include breakpoint($mobile){
        padding: 20px;
        padding-bottom: 0;
    }
}