.page-template-page-testimonials {
    &.testimonials {
        padding:0;
        background:$white;
    }
    /* Import Hero Styles */
    @import "parts/hero";
    
}

.testimonial-template-default {
  .article-info {
    .previous-testimonial, .next-testimonial {
      position: absolute;
      top: 20px;      

      @media (max-width: 767.98px) {
        top: 10px;            
      }      
      &-button {
        color: #116AC0;	
        outline: 1px solid #116AC0;
        padding: 8px 10px;
        text-decoration: none;      

        @media (max-width: 767.98px) {
          font-size: 16px;
          padding: 5px 10px;
        }      
  

        &:hover {
          text-decoration: underline;
        }
      }

    }

    .previous-testimonial {
      left: 20px;

    }
    .next-testimonial {
      right: 20px;
    }
  }

  h1 {
    font-size: 36px;
    font-family: serif;
    font-style: italic;
    position:relative;
    text-transform: none;
    &::before, &::after{
      position:absolute;
      content:"“";
      font-size:260px;
      line-height: 1;
      top:-50px;
      left:-60px;
      color:rgba(#000, 0.03);
    }
    p {
      @media (max-width: 767.98px) {
        font-size: 26px;
      }          
    }
  }
  .name-date{
    padding-top:15px;
  }
  .name-date .name{ 
    font-weight: bold;
  }
  .slick-prev, .slick-next{
    top:50%;
    transform: translateY(-50%);
    width:30px;
    height:100px;
    @media(max-width:650px){
      width:22px;
      height:60px;
    }
  }
  .slick-prev:before, .slick-next:before{
    font-family: 'FontAwesome';
    color:#000;
    font-size: 100px;
    opacity: 0.2;
    content:"\f105";
    @media(max-width:650px){
      font-size:60px;
    }
  }
  .slick-next{
    right:-5%;
    @media(max-width:900px){
      right:-10%;
    }
  }
  .slick-prev{
    left:-5%;
    @media(max-width:900px){
      left:-10%;
    }
    &:before{
      content:"\f104";
     
    }
  }
  
  .slick-slider{
    padding-left:0;
  }

  .slick-slide {
    height: auto !important;
  }


  .readmore-testimonial{
    color:#7c838c;
  }
  .more-text-testimonial{
    display:none;
  }

  .all-testimonials-c{
    position:absolute;
    left:20px;
    top:70px;
    @media(max-width:1200px){
      left:50%;
      top:20px;
      transform: translateX(-50%);
    }
    @media (max-width: 767.98px){
      top:10px;
    }
    @media (max-width: 550px){
      display:none;
    }
  }
  .all-testimonial-button{
    color: #116ac0;
    outline: 1px solid #116ac0;
    padding: 8px 10px;
    text-decoration: none;
    
    @media (max-width: 767.98px){
      font-size: 16px;
      padding: 5px 10px;
    }
  }
  .testimonial-first-container{
    @media(max-width:1200px){
      padding-top:60px;
    }
    @media (max-width: 767.98px){
      padding-top:50px;
    }
  }
}