.page-template-page-testimonials {
    &.testimonials {
        padding:0;
        background:$white;
    }
    /* Import Hero Styles */
    @import "parts/hero";
    
}

.testimonial-template-default {
  .article-info {
    .previous-testimonial, .next-testimonial {
      position: absolute;
      top: 20px;      

      @media (max-width: 767.98px) {
        top: 10px;            
      }      
      &-button {
        color: #116AC0;	
        outline: 1px solid #116AC0;
        padding: 8px 10px;
        text-decoration: none;      

        @media (max-width: 767.98px) {
          font-size: 16px;
          padding: 5px 10px;
        }      
  

        &:hover {
          text-decoration: underline;
        }
      }

    }

    .previous-testimonial {
      left: 20px;

    }
    .next-testimonial {
      right: 20px;
    }
  }

  h1 {
    p {
      @media (max-width: 767.98px) {
        font-size: 26px;
      }          
    }
  }


  .slick-slide {
    height: auto !important;
  }
  
}