.page-template-page-testimonials {
    &.testimonials {
        padding:0;
        background:$white;
    }
    /* Import Hero Styles */
    @import "parts/hero";
    
}

.testimonial-template-default {
  .article-info {
    .previous-testimonial {
      position: absolute;
      top: 20px;
      left: 20px;

      &-button {
        color: #116AC0;	
        outline: 1px solid #116AC0;
        padding: 10px;
        text-decoration: none;      

        &:hover {
          text-decoration: underline;
        }
      }

    }
    .next-testimonial {
      position: absolute;
      top: 20px;
      right: 20px;

      &-button {
        color: #116AC0;	
        outline: 1px solid #116AC0;
        padding: 10px;
        text-decoration: none;      

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .slick-slide {
    height: auto !important;
  }
  
}