/* Sizes */
$mobile: 565px;
$small:  900px;
$medium: 1023px;
$large: 1200px;

$default-font: "Source Sans Pro", sans-serif;
$regular-font: "regular", sans-serif;
$bold-font: "bold", sans-serif;
$accent: #136ac0;
$dark: #343739;
$light-gray: #838c95;
$dark-gray: #4a5158;
$trans: all 0.3s ease;
$blue: #3a495b;
$blue2: #146ac0;
$lightblue: #929eac;
$offwhite: #f6f6f6;
$offwhite2: #f7f7f7;
$grey: #a4a9ad;
$border: #e4e7e8;
$orange:#f6a61c;
$darktext: #192028;
$lighttext: #8b96a3;
$white: #ffffff;
$green: #14c095;
$red: #e74c3c;
$yellow: #FFCC00;